.popup-container {
  overflow-y: auto;
}

.no-scroll {
  overflow: hidden;
}
/* Add these styles to your existing CSS */
.sidebar.scrolling {
  background-color: rgba(17, 17, 17, 0.8); /* Adjust the background color as needed */
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
}

.nav-link {
  cursor: pointer;
}
